body {
    font-family: Arial, serif, sans-serif;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

#container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-self: center;
    margin-bottom: 50px;
    border: 5px solid blue;
}

.square {
    border: 1px solid black;
}